* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* slider start */
.home {
  height: 850px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.home-info {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-event-date {
  color: #faac1d;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 2.5px;
  opacity: 0;
  transform: translateY(80px);
  animation: slideUp 0.7s ease-in-out forwards;
}

.home-event-name {
  color: #ffffff;
  font-size: 70px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  opacity: 0;
  transform: translateY(80px);
  animation: slideUp 0.9s ease-in-out forwards;
}

.home-event-allInfo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  opacity: 0;
  transform: translateY(80px);
  animation: slideUp 1s ease-in-out forwards;
}

.home-event-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.home-event-info-icon {
  color: #faac1d;
  font-size: 19px;
  margin-top: 5px;
}

.home-event-info-count {
  color: #ffffff;
  font-size: 19px;
  font-family: "Ubuntu", sans-serif;
}

.book-now-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 27%;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
  background-color: #faac1d;
  opacity: 0;
  transform: translateY(80px);
  animation: slideUp 1.2s ease-in-out forwards;
}

.book-now-button span {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
}

.book-now-button:hover {
  background-color: #ffffff;
}

.book-now-button:hover span {
  color: #faac1d;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* slider end */

/* timer start */
.timer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 60%;
  z-index: 2;
  position: relative;
  margin-left: 20%;
  margin-top: -4%;
  margin-bottom: 3.5%;
  background: linear-gradient(to left, #f70068 0%, #441066 100%);
  box-shadow: 0 0 30px #0000004d;
}

.count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.number {
  color: #ffffff;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin: 0;
  line-height: 1;
}

.text {
  color: #ffffff;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin: 0;
  line-height: 1;
}

.dot-icon {
  color: #ffffff;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
/* timer end */

/* about start */
.about {
  display: flex;
  flex-direction: row;
  gap: 5%;
  height: auto;
  width: 60%;
  margin: 5% 0 5% 20%;
}

.about-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 50%;
}

.about-info-name {
  font-size: 16px;
  line-height: 1em;
  font-weight: 500;
  background: linear-gradient(
    to left,
    #f70068 0%,
    #441066 25%,
    #f70068 75%,
    #441066 100%
  );
  color: transparent;
  background-clip: text;
  letter-spacing: 5px;
}

.about-info-title {
  font-size: 40px;
  line-height: 1.2em;
  color: #1e1f36;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

.about-info-desc {
  font-size: 16px;
  line-height: 28px;
  color: #888;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.about-info-features {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-info-feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.check-icon {
  font-size: 2px !important;
  width: 15px;
  height: 15px;
  border: 1px solid #e1137b;
  border-radius: 50%;
  color: #e1137b;
}

.about-info-feature-name {
  font-size: 16px;
  line-height: 26px;
  color: #444;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.register-now-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 27%;
  border-radius: 11px;
  margin-top: 30px;
  cursor: pointer;
  background-color: #1c94d2;
}

.register-now-button span {
  color: #ffffff;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
}

.register-now-button:hover {
  background-color: #ffffff;
  box-shadow: 0 0 30px #0000004d;
}

.register-now-button:hover span {
  color: #1c94d2;
}

.about-image {
  height: auto;
  width: 45%;
}

.about-image img {
  border-radius: 50%;
  height: 95%;
  width: 95%;
}

.outer-circle {
  border: 1px solid white;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px #0000004d;
}
/* about end */

/* features start */
.features {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  height: auto;
  width: 60%;
  margin: 7% 0 3% 20%;
}

.box1 {
  width: 31%;
  height: 130px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.box1 span {
  font-size: 18px;
  line-height: 1em;
  font-weight: 500;
  background: linear-gradient(
    to left,
    #f70068 0%,
    #441066 25%,
    #f70068 75%,
    #441066 100%
  );
  color: transparent;
  background-clip: text;
  letter-spacing: 5px;
}

.box1 h3 {
  font-size: 45px;
  line-height: 1.2em;
  color: #1e1f36;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

.box {
  width: 31%;
  height: 130px;
  margin-bottom: 50px;
  box-shadow: 0 0 30px #0000004d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  transition: transform 0.6s ease-in-out;
}

.box:hover .box-icon {
  transform: rotate(360deg);
  transition: transform 0.3s ease-in-out;
}

.box-icon {
  font-size: 45px;
  color: #f14b59;
}

.box-info span {
  font-size: 17.5px;
  font-weight: 700;
  color: #12114a;
  font-family: "Poppins", sans-serif;
}

.box-info {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.box-info h3 {
  font-size: 15px;
  color: #888;
  font-family: "Poppins", sans-serif;
}
/* features end */

/* speakers start */
.speakers {
  position: relative;
  background-image: url("./images/speakers bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.speakers::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.speakers span {
  color: #ffffff;
  font-size: 27.5px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  letter-spacing: 5px;
  z-index: 2;
  position: relative;
}

.speakers h3 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
  letter-spacing: 2px;
  z-index: 2;
  position: relative;
}

.all-speakers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  z-index: 2;
  position: relative;
  width: 65%;
  gap: 40px;
}

.outer-speakers-circle {
  position: relative;
  border: 1px solid white;
  border-radius: 50%;
  height: 270px;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 40px #0000004d;
  overflow: hidden;
  background-color: #ffffff;
}

.outer-speakers-circle img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  transition: transform 0.3s ease;
}

.outer-speakers-circle:hover img {
  transform: scale(1.1);
  filter: brightness(0.5);
}

.outer-speakers-circle span,
.outer-speakers-circle h3 {
  position: absolute;
  opacity: 0;
  color: white;
  transition: opacity 0.3s ease;
}

.outer-speakers-circle span {
  bottom: 60px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.outer-speakers-circle h3 {
  bottom: 30px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.outer-speakers-circle:hover span,
.outer-speakers-circle:hover h3 {
  opacity: 1;
  z-index: 2;
}
/* speakers end */

/* ticket start */
.ticket {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: auto;
  width: 100%;
  margin: 5% 0 5% 0;
  align-items: center;
  justify-content: center;
}

.ticket-title1 {
  font-size: 18px;
  line-height: 1em;
  font-weight: 500;
  background: linear-gradient(
    to left,
    #f70068 0%,
    #441066 25%,
    #f70068 75%,
    #441066 100%
  );
  color: transparent;
  background-clip: text;
  letter-spacing: 5px;
}

.ticket-title2 {
  font-size: 45px;
  line-height: 1.2em;
  color: #1e1f36;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

.ticket-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-direction: row;
  gap: 70px;
  margin-top: 20px;
}

.ticket-card1,
.ticket-card2,
.ticket-card3 {
  display: flex;
  align-items: center;
  width: 330px;
  height: 70vh;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 0 30px #0000004d;
}

.ticket-card1-upper {
  height: 28%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #40cbb4;
}

.ticket-card2-upper {
  height: 28%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d95d2;
}

.ticket-card3-upper {
  height: 28%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc20b;
}

.outer-ticket-circle {
  border: 1px solid white;
  border-radius: 50%;
  height: 110px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.paper-plane-icon-card1 {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 5px solid #40cbb4;
  color: #40cbb4;
  transform: rotate(10deg);
  transition: transform 0.6s ease-in-out;
  padding: 20px;
}

.paper-plane-icon-card2 {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 5px solid #1d95d2;
  color: #1d95d2;
  transform: rotate(10deg);
  transition: transform 0.6s ease-in-out;
  padding: 20px;
}

.paper-plane-icon-card3 {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 5px solid #ffc20b;
  color: #ffc20b;
  transform: rotate(10deg);
  transition: transform 0.6s ease-in-out;
  padding: 20px;
}

.ticket-card1:hover .paper-plane-icon-card1,
.ticket-card2:hover .paper-plane-icon-card2,
.ticket-card3:hover .paper-plane-icon-card3 {
  transform: rotate(360deg);
  transition: transform 0.6s ease-in-out;
}

.card-middle {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ticket-day {
  color: #1e1f36;
  font-size: 25px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

.ticket-price-card1 {
  color: #40cbb4;
  font-size: 25px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}

.ticket-price-card2 {
  color: #1d95d2;
  font-size: 25px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}

.ticket-price-card3 {
  color: #ffc20b;
  font-size: 25px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}

.ticket-features {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.ticket-feature {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.ticket-check-icon {
  font-size: 2px !important;
  width: 15px;
  height: 15px;
  border: 1px solid #13ac2d;
  border-radius: 50%;
  color: #13ac2d;
}

.ticket-feature span {
  color: #888;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.ticket-xmark-icon {
  font-size: 2px !important;
  width: 15px;
  height: 15px;
  border: 1px solid #f70068;
  border-radius: 50%;
  color: #f70068;
}

.dotted-line {
  border-top: 1px dashed #ada8a8;
  width: 100%;
  margin-bottom: 3px;
}

.buy-now-button-card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;
  width: 43%;
  border-radius: 11px;
  margin-top: 30px;
  cursor: pointer;
  background-color: #40cbb4;
}

.buy-now-button-card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;
  width: 43%;
  border-radius: 11px;
  margin-top: 30px;
  cursor: pointer;
  background-color: #1d95d2;
}

.buy-now-button-card3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;
  width: 43%;
  border-radius: 11px;
  margin-top: 30px;
  cursor: pointer;
  background-color: #ffc20b;
}

.buy-now-button-card1 span,
.buy-now-button-card2 span,
.buy-now-button-card3 span {
  color: #ffffff;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
}

.buy-now-button-card1:hover,
.buy-now-button-card2:hover,
.buy-now-button-card3:hover {
  background-color: #ffffff;
  box-shadow: 0 0 30px #0000004d;
}

.buy-now-button-card1:hover span {
  color: #40cbb4;
}

.buy-now-button-card2:hover span {
  color: #1d95d2;
}

.buy-now-button-card3:hover span {
  color: #ffc20b;
}

.card1-lower {
  height: 3.5%;
  width: 100%;
  background-color: #40cbb4;
}

.card2-lower {
  height: 3.5%;
  width: 100%;
  background-color: #1d95d2;
}

.card3-lower {
  height: 3.5%;
  width: 100%;
  background-color: #ffc20b;
}
/* ticket end */
