* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* slider start */
.home {
  height: 850px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.home-info {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-event-date {
  color: #faac1d;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 2.5px;
  opacity: 0;
  transform: translateY(80px);
  animation: slideUp 0.7s ease-in-out forwards;
}

.home-event-name {
  color: #ffffff;
  font-size: 70px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  opacity: 0;
  transform: translateY(80px);
  animation: slideUp 0.9s ease-in-out forwards;
}

.home-event-allInfo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  opacity: 0;
  transform: translateY(80px);
  animation: slideUp 1s ease-in-out forwards;
}

.home-event-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.home-event-info-icon {
  color: #faac1d;
  font-size: 19px;
  margin-top: 5px;
}

.home-event-info-count {
  color: #ffffff;
  font-size: 19px;
  font-family: "Ubuntu", sans-serif;
}

.book-now-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 27%;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
  background-color: #faac1d;
  opacity: 0;
  transform: translateY(80px);
  animation: slideUp 1.2s ease-in-out forwards;
}

.book-now-button span {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
}

.book-now-button:hover {
  background-color: #ffffff;
}

.book-now-button:hover span {
  color: #faac1d;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* slider end */

/* timer start */
.timer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 60%;
  z-index: 2;
  position: relative;
  margin-left: 20%;
  margin-top: -4%;
  margin-bottom: 3.5%;
  background: linear-gradient(to left, #f70068 0%, #441066 100%);
  box-shadow: 0 0 30px #0000004d;
}

.count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.number {
  color: #ffffff;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin: 0;
  line-height: 1;
}

.text {
  color: #ffffff;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin: 0;
  line-height: 1;
}

.dot-icon {
  color: #ffffff;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
/* timer end */
